@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
body{background-color: #111010}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    padding: 2.5rem 2.5rem 0 2.5rem;
    background-color: #FFFFFF;
}
.prop-wrapper{
    max-width: 1024px;
    margin: 0 auto;
    padding: 2.5rem 2.5rem 0 2.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.prop-item{
    white-space: nowrap;
    width: 30%;
    min-width: 280px;
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.second-prop-text{
    font-size: 1rem;
    margin-top: 0.1rem;
}
.header-title{
    white-space: nowrap;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-variant: small-caps;
}
.header-desc{
    font-weight: 700;
    display: inline-block;
    font-size: 1rem;
    margin:2rem 0 1rem 0;
    width: 100% ;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}
.header-desc2{
    font-weight: 400;
    display: inline-block;
    font-size: 0.8rem;
    width: 100% ;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Rubik', sans-serif;
}
.main-img{
    object-fit: contain;
    width: 64%;
}
.phones-wrapper{
    max-width: 1024px;
    margin: 0 auto;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phones-block{
    display: flex;

    align-items: center;
    position: relative;
    justify-content: center;
    height:auto !important;
    width: 100vw;
}
.block-name_end{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.block-name_end span{
    font-size: 2rem;
    white-space: nowrap;
    text-align: center;
    font-weight: 700;
    user-focus: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
.block-name_start{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.block-name_start span{
    font-size: 2rem;
    white-space: nowrap;
    text-align: center;
    font-weight: 700;
    user-focus: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
.team-block{

}
.team-block_title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}
.team-members-block{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.member-item{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.member-image{
    width: 100%

}
.member-info{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.member-name{

    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
}
.member-job{

    font-weight: 700;
    font-size: 16px;
}
.create-desc{
    font-weight: 400;

    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
}
.work-wrapper{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2.5rem 0 2.5rem ;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: capitalize;
    text-align: center;
}
.stages-list_block{
    background-color: #792785;
    width: fit-content;
    font-size: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    white-space: nowrap;
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 500;
}
ul {
    list-style: none;
    padding: 0;
}

.app-info_title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.app-info_title img{
    margin-right: 1rem;
    width: 4rem;
}
.app-info_title a{
    text-transform: uppercase;
    font-weight: 700;
    color: black;

}
.app-info_title a:visited{
    color: black !important;
}
.app-info_block desc{
    font-weight: 500;
    font-size: 0.8rem;
}
.gp-logo{
display: flex;
    justify-content: center;
    align-items: center;
}
.gp-logo img{
    height: 48px;
    border-radius: 8px;
}
.privacy-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 48px;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0);
    white-space: nowrap;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid white;
}
.app-action_block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}
.app-desc{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
}
.cards-block{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.card{
    min-width: 230px;
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: space-between;
    background-color:#FFFFFF ;
}
.card-list{
    font-weight: 400;
    font-size: 1rem;
    padding: 20px;
    text-align: left;
    height: 100%;
}
.card-list li {
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
.pink .card-list{
}

.pink{
    background-color: #C5265F;
}
.card-title{
    font-weight: 700;
    text-align: left;
    padding: 20px;
    font-size: 1.6rem;
}
.card-list{
    text-decoration: none !important;
    list-style-type: none;
}
li{
    list-style-type: none !important;
}
.cycle-block_title{
    font-weight: 700;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Rubik',sans-serif;
    margin-bottom: 2rem;
}
.cycle-info_block{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cycle-item{
    font-family: 'Rubik',sans-serif;
    line-height: 20px;

}
.cycle-item_title{
    text-transform: lowercase;
    font-weight: 700;

}
.cycle-item_text{
    text-transform: lowercase;
}
.release-title{
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
    .header-title{
        font-size: 5rem;
    }
    .header-desc{
        font-size: 2rem;
    }
    .header-desc2{
        font-size: 1.6rem;
        margin:0 0 3rem 0;
    }
    .create-desc{
        font-size: 1.6rem;
    }
    .block-name_end span {
        font-size: 6rem;
    }
    .block-name_start span{
        font-size: 6rem;

    }
    .team-block_title{
        font-size: 2rem;
    }
    .prop-item{
        font-size: 1.6rem;
    }
    .stages-list_block{
        font-size: 2rem;
        padding: 1rem 2rem 1rem 3rem;
    }
    .app-info_block desc{
        font-weight: 500;
        font-size: 1rem;
    }
    .work-wrapper{
        font-size: 1.6rem;
    }
    .card-list li{
        font-size: 1rem;
    }
    .cycle-block_title{
        margin-bottom: 4rem;
        font-size: 2rem;
    }
    .release-title{
        font-size: 1.2rem;
    }
}